.pagination {
  display: inline-block;
}
.pagination a {
  background: gray;
  color: white;
  font-weight: bold;
  font-size: 20px;
  float: left;
  padding: 8px 16px;
  border: 1px solid black;
  text-decoration: none;
}
.pagination a.active {
  background: #D5D5D5;
  color: black;
}
.pagination a:hover {
  transform: scale(1.1);
}
.center {
  text-align: center;
}
